*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

/* NAVIGATION SECTION */

.navigation {
  background-color: #c0502e;
}

.container-navigation {
  height: 2.78rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: #ffffff;
}

.container-links {
  display: none;
}

.heading-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.link {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}

.disabled {
  cursor: not-allowed;
}

/* HEADER SECTION */

.img-forest {
  height: calc(100vh - 85px);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url("images/header-image.webp");
  background-size: cover;
  background-position: center;
}

.img-text-container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.text-and-rectangle {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}

.long-text {
  font-weight: 700;
  font-size: 2rem;
  padding: 0 0 1.11rem;
}

.short-text {
  font-weight: 700;
  font-size: 1rem;
  padding: 0 0 1.11rem;
}

.text-in-rectangle {
  width: 4.44rem;
  height: auto;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  border: 0.17rem solid #ffffff;
  padding: 0.55rem;
  transition: background-color 1s, color 1s;
}

/* OFFER ONLINE SECTION */
.package-name {
  text-align: center;
}

.package-name {
  padding: 1rem 0rem;
}

.offer-details {
  list-style-type: none;
  padding: 1rem 0rem 1rem 1rem;
}

.offer-details:nth-of-type(even) {
  background-color: #c0502e2c;
}

.offer-details:nth-of-type(odd) {
  background-color: #c0502e11;
}

.offer-details-short {
  text-decoration: underline;
  padding-bottom: 1rem;
}
.wrapper {
  display: grid;
  width: 960px;
  /* align-items: center; */
  /* grid-template-rows: 50% 50%; */
  grid-template-columns: auto auto;
  grid-gap: 1%;
  place-content: center;
  /* grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto); */
}

.offer-mini-list {
  padding-bottom: 1rem;
}

.offer-mini-name {
  font-size: larger;
}

.offer-mini-list-description {
  font-weight: 700;
}

/* CONTACT */
.consultation-information {
  font-weight: 700;
}

/* FOOTER SECTION */

.footer {
  background-color: #4e4e4e;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-in-footer {
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.container-of-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  column-gap: 10px;
}

.socialmedia-icon {
  font-size: 1.72rem;
  height: auto;
  color: #ffffff;
}

/* CERTIFICATES */
.certificates {
  background-color: #d6c5c0;
}

.certificate-image {
  height: 20rem;
  width: auto;
}

.box-certificate {
  display: grid;
  grid-template-columns: 11rem 11rem 11rem;
  grid-gap: 40px;
}

/* OFFER */
.pricing h2 {
  border: none;
  font-weight: bold;
  /* text-align: center; */
  text-transform: uppercase;
  /* margin-bottom: 20px; */
  color: #fff;
  background-color: #c0502e;
  /* padding: 25px 5px;
  margin-top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
}

.offer-mini {
  text-align: center;
}

.price {
  font-weight: 700;
}

.pricing-column {
  width: 20rem;
  margin: 2rem;
}

.pricing {
  border: 1px solid #e7e7e7;
}

/* EXPERT SECTION */

.about-us-container {
  background-color: #f1f1f1;
  padding: 2.22rem 0;
}

.main-text-experts {
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  color: #152d41;
  padding-bottom: 1.11rem;
}

.about-experts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.expert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.circle {
  min-width: 12.28rem;
  height: 12.28rem;
  border-radius: 50%;
  border: 0.06rem solid #c4c4c4;
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
  margin: 1.11rem;
}

.first-circle {
  background-image: url("images/circle-image.jpg");
}

.name-expert {
  font-weight: bold;
  text-align: left;
}

.lorem-expert {
  text-align: justify;
  margin: 1.11rem 0;
}

/* CONTACT */

.contact-center {
  text-align: center;
  padding: 1rem;
  background-color: #d6c5c0;
}

.contact-logo {
  background-image: url("images/logo.jpg");
}

/* OPINION */

.opinion-center {
  text-align: center;
  padding: 1rem;
}

@media screen and (min-width: 769px) {
  .container-of-company-boxes {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
  }

  .text-in-rectangle:hover {
    background-color: #ffffff;
    color: #000000;
  }

  .box:hover {
    transform: scale(1.05);
  }

  .footer-arrangement {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    width: 960px;
  }

  .img-text-container {
    width: 960px;
  }

  .container-links {
    display: flex;
    list-style: none;
    column-gap: 20px;
  }
  .main-text-experts {
    text-align: left;
  }
  .about-experts {
    flex-wrap: nowrap;
    align-items: center;
  }

  .about-experts:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: right;
  }
  .main-text-about-company {
    text-align: left;
  }
  .container-of-company-boxes {
    display: grid;
    grid-template-columns: 11rem 11rem 11rem;
    grid-gap: 40px;
  }
  .box {
    margin: 0;
  }
}
